:root {
    --bg-light: #e5f4ff;
    --bg-mid: #c1e5ff;
    --bg-dark: #020283;
    --text-blue: #020283;
    --highlight-yellow: #fff500;
    --highlight-pink: #ff00e2;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--text-blue);
    overflow-x: hidden;
}

.carousel {
    overflow: hidden;
}

.carousel-inner {
    overflow: hidden;
}

.navbar {
    background-color: var(--bg-mid);
}

h1, h2, h3, h4, h5 {
    font-family: "Barlow", sans-serif;
}

h1 {
    font-weight: 800;
    font-size: 3.5em;
    text-transform: uppercase;
}

h2 {
    font-weight: 800;
    font-size: 3em;
    text-transform: uppercase;
}

.mission {
    font-weight: 500;
    font-size: 1.8em;
    line-height: 1.2em;
}

a {
    font-weight: bold;
    color: var(--text-blue);
}

.card a {
  text-decoration: none; 
  padding-bottom: 5px; 
  border-bottom: 3px solid var(--highlight-pink);
}

.container {
    max-width: 800px;
}

.container-wide {
    max-width: 1000px;
}

.row {
}

.row-light {
    background-color: var(--bg-light);
    color: var(--text-blue);
}

.row-mid {
    background-color: var(--bg-mid);
    color: var(--text-blue);
}

.row-dark {
    background-color: var(--bg-dark);
    color: white;
}

.row-dark a {
    color: white;
}

.row-highlight {
    background-color: var(--highlight-yellow);
    color: var(--text-blue);
}

.card, .card-body {
    background-color: transparent;
    border: 0px;
    color: var(--text-blue);
}

.card-body {
    padding-left: 0px;
    padding-right: 0px;
}

.newsletter {
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
}

.logos .card-img-top {
    display: block;
    margin-left: 0;
    margin-right: auto;
}

#join h2 {
    font-size: 2em;
}

.pt-6, .py-6 {
  padding-top: 5rem !important;
}

.pr-6, .px-6 {
  padding-right: 5rem !important;
}

.pb-6, .py-6 {
  padding-bottom: 5rem !important;
}

.pl-6, .px-6 {
  padding-left: 5rem !important;
}

.timeline-section {
  position: relative;
  background-image: url('../05_timeline.svg');
  background-repeat: no-repeat;
  background-position: 0px center;
  background-size: auto 100%;
  min-height: 200px;
}

.timeline-item {
    padding-bottom: 30px;
}    

@media (min-width: 768px) {
    .timeline-item {
        padding-left: 200px;
        padding-right: 80px;
    }    
}
